@import 'style/helper';
@import 'style/reset';
@import-normalize;
*{margin:0;padding:0}
*{box-sizing:border-box}
*::before{box-sizing:border-box}
*::after{box-sizing:border-box}
a{text-decoration:none;color:inierit;}
body{font-family: $font-hei;font-size:16px;line-height:1.2}
