@import 'style/helper';
@import 'style/reset';
@import-normalize;
@import 'antd-mobile/dist/antd-mobile.css';
*{margin:0;padding:0}
*{box-sizing:border-box}
*{touch-action: pan-y;}
*::before{box-sizing:border-box}
*::after{box-sizing:border-box}
a{text-decoration:none;color:inierit;}
body{font-family: $font-hei;font-size:16px;line-height:1.2;color:#666}
button,input{fonty:inierit}
.icon{width:1em;height:1em;display:inline-block}
:focus{outline:none}
.clearfix::after{content:'';display:block;clear:both;}
.oneLine{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}